.link {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: opacity 0.5s ease;
    max-height: 22px;
}

.link:hover{
  opacity: 0.6;
}
